<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Project joker</title>
    <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
<form method="POST" action="/">
    <input type="text" name="attributeName" placeholder="attribute name">
    <input type="text" name="className" placeholder="class name">
    <input type="text" name="url" placeholder="source url">
    <input type="text" name="recipientGmail" placeholder="recipient's gmail">
    <input type="number" name="duration" placeholder="duration between jokes">
    <button type="submit">send!</button>
</form>
</body>
</html>